<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RMMobileAssistant">

        <!-- 模块 1：装甲板 -->
        <activity
            android:name=".ArmorActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.RMMobileAssistant.Fullscreen" />

        <!-- 模块 2：赛场测试 / 提示轮播 -->
        <activity
            android:name=".FieldTestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.RMMobileAssistant.Fullscreen" />
        <!-- 模块 3：编辑步骤 -->
        <activity
            android:name=".StepEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- 主界面（启动入口） -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
